/*
 Top element
 */body , .body{
   position: static    ;
   width: 100%;
   height: auto;
   background-image: url(images/backgr.jpg);
   background-size:  125% ;
   background-repeat:repeat-y;
      margin: 0px;


 }

 #clickme {
   position: absolute;
   top: 0em;
   display: block;
   width: 17em;
   height: 3em;
   background-color: yellow;
   border: solid 4px red;
   border-radius: 1em;
   color: red;
   font-size: 1em;
   font-weight: bold;
   font-family: unset;

 }

 #clickme:hover {

    background-color: lightgreen ;
}

 a:link {
   color: blue;
   background-color: transparent;
   text-decoration: none;
 }

 a:visited {
   color: blue;
   background-color: transparent;
   text-decoration: none;
 }

 a:active {
   color: blue;
   background-color: transparent;
   text-decoration: none;
 }
 .bodynews{
   background-image: url(images/ropotamo.jpg);
 }
.newstop{


  text-align: center;
    position: relative;
    top: 4%;
    width: 100%;
    align-content: center;
    background-image: url(images/pic01.jpg);
    background-position: center;
    background-size: 140%;
    background-position-y: 70%;
}

 #header {

  position: sticky;
     width: 100%;
     height:10%;
    border: solid 1px black;
     background-size: cover;
     background-image :url(images/bike/topbar.jpg) ;
    text-align: center;
    opacity: 0.8;

    }

    h1{

      margin:0;
            width:100%;
      font-size: 50px;
      font-family:  "Times New Roman", sans-serif;
      color:white;
      opacity: 0.9 ;
      letter-spacing: 3px;
    }

    /* Search */
.search {
  position: absolute;
    width: 200px;
    height: 25px;
    top: 10px;
    left: 80%;
    margin: 0;
}
table {

  top: 1%;
      width: 100%;
      left: 0%;
      height: 35%;
      font-size: 85px;
      color: white;
}

.homea , .homeb, .homed , .homec {
  text-decoration: none;
color: white;
border: solid 4px white;
border-radius: 9px;
padding: 5%;
  }

th{
    border-radius: 13px;
     width: 20%;
}

ul{

  position: absolute;
      list-style-type: none;
      padding-left: 0px;
      width: 100%;
      height: 100%;
      text-align: center;

}

li{

  text-decoration: none;
font-size: 48px;
font-weight: bold;
font-family: cursive;
width: 86%;
border-radius: 9px;
background-color: aliceblue;
opacity: 0.8;
margin-bottom: 23%;
height: 17%;
padding-top: 31px;
}


li:hover   {
  background-color: white;
    opacity: 0.5;
}

li.about{

  text-decoration: none;
  font-size: 48px;
  font-weight: bold;
  font-family: cursive;
  width: 86%;
  border-radius: 9px;
  background-color: aliceblue;
  opacity: 0.8;
  margin-bottom: 23%;
  height: 17%;
  padding-top: 31px;

}
.into{


width: 17%;
    height: 55%;
    position: fixed;
    display: block;
    top: 13%;
    left: 6px;

}


.inton{
  width: 18%;
  height: 55%;
  position: absolute;
  display: block;
  top: 16%;
  left: 6px;

}

* { margin: 0; padding: 0px; }
.navigation {

  position: absolute;
  width: 100%;
  height: 62%;
  top: 7%;
}
#home:hover,#bike:hover ,#hike:hover, #water:hover {

    opacity: 0.7  ;
}
.video{
  top: 31%;
  float: right;
  position: absolute;
  right: 10px;
  height: 41%;
  width: 38%;
}

.video2{
  top: 75%;
float: right;
position: absolute;
right: 10px;
height: 41%;
width: 38%;
}


.sitecheck{
  bottom: 1%;
    float: none;
    position: absolute;
    left: 10%;
    height: 78%;
    width: 50%;
    margin: 9px;
    top: 30%;

}
.form1{

  text-align: center;
    position: absolute;
    right: 1%;
    top: 75%;
    width: 36%;
    border: solid 12px white;
    border-radius: 20px;
    padding: 2px;
}


.form2{
  margin-top: 2%;

font-family: Arial, Helvetica, sans-serif;}




/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

[type=submit]{

background-color: green;

}
/* Set a style for all buttons */
button {
  color: black;
padding: 1px 25px;
margin: 6px 0;
border: none;
cursor: pointer;
text-align: center;
font-size: 2em;
font-weight: bolder;
width: 9em;
border-radius: 15px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {    width: auto;
    padding: 10px 3em;
    background-color: #f44336;
    margin-right: 2em;
    margin-left: 9em;
}

/* Center the image and position the close button */
.container {
  padding: 16px;
}

span.psw {

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  padding: 6em;

}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
b{
  font-size: 20px;
}
/* Add Zoom Animation */
.animate {
  animation: animatezoom 0.6s;

}

@-webkit-keyframes  {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.icon{
  right: -10em;
  position: relative;
  bottom: 3em;
  opacity: 1;
  background-color: rgb(154, 205, 50, 0.7);
  width: 55%;
  padding-left: 1%;
  text-align: center;
}
img{      padding: 1em;
    position: relative;
    margin-top: 4%;
    width: 17%;
    border-radius: 9px;
    border: solid 2px white;}

    .icons {
      position: relative;
  top: 10em;
  margin: -1%;
  width: 80%;
  left: 17%;
}


    p{
      color: white;
  font-size: 25px;
  width: 75%;
  text-align: center;
  position: relative;
  right: -13em;
  bottom: 131px;
  background-color: rgba(26, 53, 0, 0.4);
  padding: 1%;
  border-radius: 15px
    }
